@import '../variables';
@import '../mixinis';

.aboutSection {
  min-height: 60vh;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;

  .desc {
    width: 100%;
    z-index: 1;
    @include mobile-l {
      text-align: center;
    }
    h2 {
      width: 100%;
      margin-left: auto;
      span {
        margin-left: 10px;
      }
    }
  }
  span {
    font-size: 1.2rem;
    color: white;
  }
  @include mobile-l {
    flex-direction: column;
    justify-content: unset;
  }
  .right {
    z-index: 1;
    width: 100%;
    .rightContainer {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
