@import '../variables';
@import '../mixinis';

.separator {
  color: $brand-4;
  font-size: 40px;
  margin: 20px 0;
  text-transform: uppercase;
  @include tablet-mobile {
    margin-top: 80px;
    font-size: 18px;
  }
}
