@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

$brand-1: #a8e300;
$brand-2: #404a21;
$brand-3: #b4b4b4;
$brand-4: #181818;
$brand-white: #fff;
$dark-1: #000000;
$font-normal: 'Zilla Slab', serif;
$font-fancy: 'Patrick Hand';
